.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sloganTexts {
  display: flex;
  flex-direction: column;
  margin-top: 194px;
}

.sloganText01 {
  font-size: 36px;
  font-weight: 700;
}

.images {
  margin-top: 224px;
}

.phoneEmpty {
  margin-top: 264px;
}

@media (max-width: 375px) {
  .sloganTexts {
    margin-top: 104px;
  }
  .images {
    margin-top: 134px;
  }

  .image {
    width: 75px;
    height: 75px;
  }

  .phoneEmpty {
    margin-top: 164px;
  }
}
