:root {
  --main-color-pink: #ef5a6f;
  --main-color-blue: #27baea;
  --sub-color-gray: #909196;
  --sub-color-black: #303437;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.bg-main-color-pink {
  background-color: var(--main-color-pink);
}

.bg-main-color-blue {
  background-color: var(--main-color-blue);
}

.bg-sub-color-gray {
  background-color: var(--sub-color-gray);
}

.text-main-color-pink {
  color: var(--main-color-pink);
}

.text-main-color-blue {
  color: var(--main-color-blue);
}

.text-sub-color-gray {
  color: var(--sub-color-gray);
}

@media (max-width: 375px) {
  body {
    width: 100%;
    height: 100%;
  }
}
